In [ ]:

QUESTION 1 :
    
As value will be any entity which has some weight and expression is an operation which can be performed so we can divide as follows :

*    =   EXPRESSION
'hello' = VALUE
-87.8 = VALUE 
-   = EXPRESSION
/ = EXPRESSION
+	= EXPRESSION
6 = VALUE 


--------------------------------------------------------------------------------------------------------------------------------

    QUESTION 2 :
    
    
    VARIABLE : it can be used for storing a entity , variable can be  'a','x'
        
        
    STRING :  it can be group of single entity like "name", "mail", "course"
        
       # x= name , so here x is variable and name is string
    
    -----------------------------------------------------------------------------------------------------------------------------
    
    QUESTION 3:
        
        There are various data types like int, float, str, bool, complex, list, tuples, dict.
        
        int=4
        float=4.0
        str="ujjawal"
        
        ------------------------------------------------------------------------------------------------------------------------
        
    QUESTION 4:
        
   # Expression can be made upof the mathematical operators like +,-,*,%,/ , expression can be used to perform operation on operands 
#and derive values after doing operations .

--------------------------------------------------------------------------------------------------------------------------------------
        
    QUESTION 5 :
        
Expression can be made upof operands like +,- to evaluate some value and Statement is used to do some action on variables like print,
assign , take input.

--------------------------------------------------------------------------------------------------------------------------------------

QUESTION 6 :

In [1]:
bacon=22

In [2]:
bacon

22

In [3]:
bacon +1

23

In [4]:
#  QUESTION 7 :



'spam'+'spamspam'

'spamspamspam'

In [6]:
#


'spam'*3

'spamspamspam'

In [ ]:

QUESTION 8

 #Eggs can be a valid variable as it can be used to store a int type value or float value so it can work as a container .
    
100 is not used as a valid variable as it is a int type and it can't be used to store any information in it .

In [ ]:

    QUESTION 9 :
        
        I am not able to understand the question as what is asked but as per my understanding i am writing that input function can be 
        used for taking values .

In [8]:
a=int(input("ENTER INTEGER"))

ENTER INTEGER6

In [9]:
a

6

In [10]:
a=float(input("ENTER FLOAT"))

ENTER FLOAT6.0

In [11]:
a

6.0

In [13]:
a=str(input("ENTER STRING"))

ENTER STRINGUJJAWAL

In [14]:
a

'UJJAWAL'

In [15]:
QUESTION 10 : 
    
  # WRONG =   'I have eaten ' + 99 + ' burritos.'

SyntaxError: invalid syntax (<ipython-input-15-16743bd23a90>, line 1)

In [16]:
# correct = 'I have eaten ' + '99' + ' burritos.'